# Ignore everything by default
*

# Allow directory traversal
!*/

# Whitelist only folders with "crush" or "Crush"
!*[Cc]rush*/**
!*[Cc]rush*

# Whitelist root-level config & scripts
!*.json
!*.rb
!*.py
!.gitignore
!*.xml

# Explicit exclusions
build/**
bin/**
__pycache__/**
*.class
*.log
hs_err_pid*
*.tar
*.zip
*.jar
*.csv
.settings/**
HigashiKU/**
practice/**
practice0/**
sample/**
src/**
test/**
tools/**